.postlisting{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
    align-items: stretch;
    margin: 5px;
}
.postlisting .post{
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 3px 3px 6px 0px  rgba(0,0,0,0.3);
    background-color: #fff;
}
.postlisting .post-image{
    position: relative;
    margin: 10px;
}
.postlisting .post-title{
    font-family: 'Sawarabi Mincho', sans-serif;
    padding: 10px;
    color: #000;
    height: 120px;
}
.postlisting .post-date{
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    color: #000;
}
.postlisting .post-category{
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    color: #000;
}