.postlisting{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 330px));
    grid-gap: 10px;
    margin: 20px;
}
@media screen and (max-width: 480px){
    .postlisting{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
.postlisting .post{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0px  rgba(0,0,0,0.25);
    background-color: #fff;
    overflow: hidden;
    -webkit-animation: SlideIn 1s ease-in-out 0s 1 normal;
    animation: SlideIn 1s ease-in-out 0s 1 normal;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.postlisting .post:hover {
    box-shadow: 3px 3px 7px 1px  rgba(0,0,0,0.3);
    border: 1px dashed #999;
    transform: translate(0px,-5px);
}
.postlisting .post-image-wrap{
    overflow: hidden;
}
.postlisting .post .post-image {
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.postlisting .post:hover .post-image {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.7;
}
.postlisting .post-title{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    color: #555;
    height: 100px;
}
.postlisting .post-date{
    font-family: 'Orbitron', sans-serif;
    font-size: 0.8rem;
    padding: 10px;
    color: #888;
}
.postlisting .post-category{
    font-family: 'Orbitron', sans-serif;
    font-size: 0.8rem;
    padding: 10px;
    color: #888;
}
@keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}