.header {
    justify-content: center;
    align-content: center;
    padding: 10px 5px 5px;
}
.header .sitetittle{
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #fff;
}
@media screen and (max-width: 480px){
    .header .sitetittle{
        letter-spacing: 0.05rem;
    }
}
.header .nav {

}
.header .nav ul {
    list-style: none;
    display: flex;
}
.header .nav ul a {
    width: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin-right: 2px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

   