.header {
    justify-content: center;
    align-content: center;
    padding: 10px 5px 5px;
    background-color: #777;
}
.header .sitetittle{
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header .sitetittle:hover{
    color: #00ffb3;
    -webkit-text-stroke: 2.5px #222;
}
@media screen and (max-width: 480px){
    .header .sitetittle{
        letter-spacing: 0.05rem;
    }
}
.header .nav ul {
    list-style: none;
    display: flex;
}
.header .nav ul a {
    width: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin-right: 2px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header .nav ul a:hover{
    color: #00ffb3;
    -webkit-text-stroke: 0.5px #222;
}
   