.footer {
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-content: center;
    padding: 10px 5px 5px;
}
.subscribe{
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #999;
    font-size: 0.9rem;
    color: #999;
    background-color: #fff;
    transition: 0.4s;
}
.notice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 25px;
    color: #fff;
}

@media (max-width: 640px - 1px) {
    .notice-container {
        justify-content: space-around;
    }
}

.notice-container h4 {
    text-align: center;
    margin: 0;
}
