@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Orbitron|Sawarabi+Mincho&display=swap');
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #eee;
    background-size: cover;
}

a {
    text-decoration: none;
}
